.container {
  display: flex;
  width: 440px;
  height: 124px;
  padding: var(--Spacing-20, 20px);
  align-items: center;
  gap: 20px;
  border-radius: var(--Radius-20, 20px);
  border: 1px solid var(--Border-Base, #eaeaea);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

  .smallcontainer {
    display: flex;
    align-items: center;
    gap: var(--Spacing-16, 16px);

    .img {
      display: flex;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Spacing-12, 12px);

      .name {
        color: #000;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Spacing-None, 0);

        .sn {
          color: var(--Content-Weak, #8b8b8b);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        .serialNumber {
          color: var(--Content-Base, #272727);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
    }
  }
}
