.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .title {
      color: #000;
      font-family: Pretendard;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .description {
      color: var(--Content-Weak, #8b8b8b);
      text-align: center;
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.18px;
    }
  }

  .choice {
    display: flex;
    align-items: flex-start;
    gap: var(--Spacing-16, 16px);
    width: fit-content;
    height: 268px;
  }
}
