.card {
    border: 1px solid $border;
    border-radius: $radius-12;

    display: flex;
    flex-direction: column;
    gap: $spacing-12;

    &.paddingOn {
        padding: $spacing-16;
    }
}

.title {
    font-weight: 400;
    font-size: 20px;
}