.card {
    border: 1px solid $border;
    border-radius: $radius-12;

    padding: $spacing-16;

    display: flex;
    flex-direction: column;
    gap: $spacing-12;
}

.title {
    font-weight: 500;
    font-size: 20px;
}