.container {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  border-right: 1px solid $border;
  background-color: $background;

  z-index: 1000;
  overflow: hidden;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &[data-open="true"] {
    transform: translateX(0);
  }
}

.header {
  display: flex;
  height: 60px;
  padding: var(--Spacing-10, 10px) var(--Spacing-20, 20px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--Border-Base, #eaeaea);
}

.title {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  display: flex;
  padding: var(--Spacing-8, 8px) var(--Spacing-12, 12px);
  align-items: center;
  gap: var(--Spacing-4, 4px);
  border-radius: var(--Radius-Full, 9999px);
  background: var(--Fill-Strong, #eff0f2);
}

.menu {
  display: flex;
  padding: var(--Spacing-16, 16px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: $spacing-4;
  overflow-y: auto;
  list-style: none;
  margin: 0;
}

.full {
  flex: 1;
}
