.sidebar {
    width: 70px;
    height: 100%;
    
    border-right: 1px solid $border;

    padding-block: $padding;
}

.menu {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-4;

    li[data-active="true"] {
        a {
            color: $content-brand;
        }
    }

    a {
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $content-weak;

        border-radius: $radius-8;

        &:hover {
            background-color: $background-hover;
        }

        svg {
            width: 28px;
            height: 28px;
        }
    }
}

.full {
    flex: 1;
}

.menu-item {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

}