.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .fillter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .filter {
    display: flex;
    align-items: center;
  }

  .search {
    display: flex;
    width: 350px;
    padding: var(--Spacing-12, 12px) var(--Spacing-16, 16px);
    align-items: center;
    gap: var(--Spacing-8, 8px);

    .searchIcon {
      color: var(--content-weak, #8b8b8b);
      flex-shrink: 0;
    }

    .searchInput {
      color: var(--Content-Weak, #8b8b8b);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */

      &::placeholder {
        color: var(--content-weak, #8b8b8b);
      }
    }
  }
}

.robotlist {
  width: 100%;
  border: 1px solid var(--border-base, #eaeaea);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-base, #eaeaea);
  background-color: #ffffff;
}

.headerCell {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  flex-shrink: 0;
}

.icon {
  color: var(--content-weak, #8b8b8b);
  flex-shrink: 0;
}

.headerText {
  color: var(--Content-Weak, #8b8b8b);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.items {
  width: 100%;
  height: fit-content;
}
