.cameraInfoSection {
    width: 400px;
    height: 100%;

    border-right: 1px solid $border;

    padding: $padding;

    display: flex;
    flex-direction: column;
    gap: $spacing-24;
}

.header {
    display: flex;
    align-items: start;
    justify-content: space-between;

    a {
        color: $content-hover;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.title {
    font-size: 18px;
    font-weight: 500;

    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    p {
        color: $content-weak;

        line-height: 1.4;
        letter-spacing: 0.01em;
    }
}