.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-32, 32px);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-16, 16px);

    .title {
      color: #000;
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .description {
      color: var(--Content-Weak, #8b8b8b);
      text-align: center;
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.18px;

      p {
        margin: 0;
        color: var(--Content-Weak, #8b8b8b);
        text-align: center;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
        letter-spacing: -0.18px;
      }
    }
  }

  .description {
    color: var(--Content-Weak, #8b8b8b);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.18px;

    &.inline {
      display: inline;
      text-align: inherit;
    }
  }

  .strong {
    color: var(--Content-Base, #272727);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.18px;
    display: inline;
  }
}
