.container {
  width: 100%;
  height: 100%;
  background-color: #eff0f2;
  background-image: radial-gradient(circle, #e5e6e8 1.5px, transparent 1.5px);
  background-size: 20px 20px;
  background-position: 0 0;
  gap: 16px;
}

.sub_function_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 16px;
}

.sub_function_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 17px;

  .button_scan {
    display: flex;
    padding: var(--Spacing-6, 6px) var(--Spacing-8, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-4, 4px);
    border-radius: var(--Radius-8, 8px);
    background: var(--Fill-Strong, #eff0f2);
    border: none;

    .button_scan_text {
      color: var(--Content-Base, #272727);
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
    }
  }
}

.mapsection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 32px;

  .content {
    .title {
      color: #8f9091;
      font-family: Pretendard;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .description {
      color: #8f9091;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.device {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: row;
  gap: 32px;
}

.devicesection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.column {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 32px;
}

.divbox {
  width: 198px;
}
