.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row {
  flex-direction: row;
  padding: 0 32px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.grayBackground {
  background-color: #eff0f2;
}

.noOverflow {
  overflow: auto;

  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
