.smallcontainer {
  display: flex;
  align-items: center;

  .img {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-4, 4px);

    .name {
      color: #000;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 120% */
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Spacing-None, 0);

      .type {
        color: var(--Content-Weak, #8b8b8b);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }
  }
}
