.container {
  width: 100%;
  height: 100%;
  gap: 24px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-8, 8px);

    .title {
      color: #000;
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .description {
      color: var(--Content-Weak, #8b8b8b);
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  margin-bottom: 24px;
}
